@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Customize your color palette for a darker purple theme */
:root {
  --primary-color: #6B46C1;      /* Dark purple */
  --secondary-color: #553C9A;    /* Even darker purple */
  --text-color: #ffffff;         /* White text for contrast */
  --background-color: #1F1A38;   /* Very dark purple background */
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('/fonts/RedHatDisplay-Regular.woff2') format('woff2'),
       url('/fonts/RedHatDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply global styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'RedHatDisplay', sans-serif;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
